<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>




<div style ="float:left; width:200px; margin-left:20px;" th:each="r : ${rooms}" class="card">
    <div class="card-body">
        <h5 th:text="${r.title}" class="card-title"></h5>
        <p th:text="${r.description}" class="card-text"></p>
        <a th:href="@{reserver.html(room=${r.id})}" class="btn btn-primary">Rezerva</a>
    </div>
</div>


</body>
</html>